<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">login</ion-title>
    </ion-toolbar>
  </ion-header>
  <form #login2="ngForm" (ngSubmit)="login(login2)">
    <ion-item>
      <ion-input name="email" [(ngModel)]="email" label="Correo electronico" labelPlacement="floating" placeholder="Ingrese su correo" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input name="password" [(ngModel)]="password" label="Contraseña"  labelPlacement="floating" type="password" placeholder="Ingrese su Contraseña" required></ion-input>
    </ion-item>
    
      <ion-button type="submit" expand="block" >
        Ingresar
      </ion-button>
  </form>
</ion-content>
